<div class="container">
  <h1 class="main-heading">Instructions</h1>
  <p>Please read the following instructions carefully.<br><br>If you at some point need to review the instructions, you can access this page through the "instructions"- button in the navigation bar above. To complete the first part of the experiment, correctly answer all the questions under the "Control questions" 
    tab. If you have any questions while reading the instructions in the lab, please raise your hand and a lab assistent will be over to help you.
  </p>
  <div style="width:100%;margin-top:50px;">
    <mat-tab-group color="warn" dynamicHeight [selectedIndex]="selected_tab" (selectedIndexChange)="tabClicked($event)">
      <mat-tab label="Introduction">
        <div class="instructions-part">
          <h1>Welcome</h1>
          <p>Thank you for participating in our choice experiment. In this experiment, you will choose an allocation of work between a “sooner” and a “later” date. Choosing an allocation means choosing how much to work at the sooner date and how much to work at the later date.</p>

          <h1>Parts in the experiment</h1>
          <p *ngIf="complete_dates">
            The experiment has three parts, which run over three weeks: <em>Week 1, Week 2 and Week 3</em>. Each part has a number of tasks, which must be completed <strong>before midnight</strong> on the specific day.<br><br>
            You must log in and complete tasks at the following dates:<br><br>
            <strong>Week 1:</strong> {{complete_dates[0]}}<br><br>
            <strong>Week 2:</strong> {{complete_dates[1]}}<br><br>
            <strong>Week 3:</strong> {{complete_dates[2]}}
          </p>
          <p>
            You will complete week 1 in the lab and the next two parts online.
          </p>

          <h1>Work</h1>
          <p>
            You will complete work in week 2 and week 3 of the experiment. Work consists in completing “pages” with 16 sliders on each. You complete a page by <strong>moving all sliders from 0 to 50</strong>.<br><br>
            In order to move the sliders, you press the <strong>SPACE BAR</strong> to select the next slider and then use the <strong>ARROW KEYS</strong> to move the slider.
          </p>
          <p *ngIf="!work_completed">Please complete the 
            three sliders below:</p>
          <app-work style="margin:40px 0;" *ngIf="!work_completed" [target]="pages_to_complete" [completed]="work_completed" [ranges_per_page]="range_number" (pageDoneEvent)="addWork()"></app-work>
          <div *ngIf="work_completed" style="margin:50px auto;text-align:center;">Good job!</div>
          <p>
            A full page is 16 sliders. A half page is 8 sliders and a quarter page is 4 sliders.
          </p>

          <h1>Roles</h1>
          <p>
            Each participant is randomly assigned to one of two roles: <em>Worker or Regulator</em>.<br><br>You have been randomly selected to be a <strong *ngIf="user">{{ user.role | titlecase}}</strong>. <br><br>
            Workers and regulators both allocate work between “sooner” (week 2) and “later” (week 3) and complete the work assigned to these two dates. Regulators may set a minimum on the amount of work the worker must complete at the “sooner” date.<br>
            <span *ngIf="user && user.role == 'worker'">Since you are a worker, you will choose an allocation for yourself, which may be changed by the regulator</span>
            <span *ngIf="user && user.role == 'regulator'">Since you are a regulator, you will choose an allocation for yourself and may affect the choice of your randomly assigned worker. You will not be affect by any choices by other participants</span>.
          </p>

          <h1>Recap</h1>
          <ul>
            <li>All participants allocate (divide) work between a "sooner" and a "later" date.</li>
            <li>Work consists in completing pages with 16 sliders on each.</li>
            <li>Workers only choose a work allocation for themselves.</li>
            <li>Regulators choose a work allocation for themselves, but may also set a minimum on the amount of work, that the worker must complete at the sooner date.</li>
          </ul>

          <button class="active-button" mat-raised-button (click)="nextTab()">Next</button>
        </div>
      </mat-tab>
      <mat-tab label="Allocations and regulation">
        <div class="instructions-part">
          <!-- <h1>Dashboard</h1>
          <p>The dashboard is the main screen of the experiment and is where you can see all the tasks that must be completed for each part. Each card on the 
            dashboard represents a task. On the card is shown the name of the task and when the task is to be carried out. At the relevant 
            time you can click the button at the bottom of the card to enter the task. When you have completed the task, the button will be replaced by the text 
            "Completed". Make sure that every card has been completed on the relevant days.
          </p> -->


          <h1>Allocations</h1>
          <p>Your “allocation choice” is your choice of how much to work in week 2 and week 3. You will make five allocation choices, each for a different “exchange rate”.</p>
          <div style="margin: 10px 10%; padding:15px; border:1px solid black;">
            <strong>Exchange rates: </strong>The number of pages you will have to complete in week 3 for each page you choose not to complete in week 2.
          </div>
          <p>
            The maximal number of pages you can complete in week 2 will always be 50. You will make choices for the following exchange rates:
          </p>
          <table style="margin:20px auto;">
            <tr *ngFor="let rate of exchange_rates; let index = index;">
              <td style="padding-top:5px;padding-bottom:5px;">Choice {{ index+1 }}</td>
              <td style="padding-top:5px;padding-bottom:5px;">{{rate}}</td>
            </tr>
          </table>
          <p>
            When the exchange rate is above 1, moving pages from week 2 to week 3 increases the total amount of work. When the exchange rate is below 1, moving pages from week 2 to week 3 decreases the total amount of work.<br><br>
            <strong><em>Example: </em></strong>If the exchange rate is 2, then choosing to complete 20 pages in week 2 means that you will complete (50-20)*2 = 60 pages in week 3.
          </p>
          
          <h2>The choice that counts</h2>
          <p>
            Once you have completed your allocation choices, one choice will randomly be selected to be the “choice that counts”. The choice that counts will determine your actual allocation of work.
          </p>

          <h2>Minimal work</h2>
          <p>
            Each week you will have to complete 10 pages of “minimal work”. All allocations are in addition to the minimal work. If you choose to allocate 50 pages to week 2 and 0 pages to week 3, then including minimal work, you will complete 60 pages in week 2 and 10 pages in week 3.
          </p>

          <h1>Regulation</h1>
          <p>
            Each regulator is randomly matched with one worker. For each allocation choice, the regulator may choose to set a minimum on week 2 pages. The minimum is the smallest amount of pages the worker can choose to complete in week 2.<br><br>
          </p>
          <p>
            If the worker chooses to do more pages in week 2 than the minimum set by the regulator, then the worker’s own choice will be implemented.<br><br>
            Try setting a minimum in the example below:
          </p>

          <div style="background:whitesmoke;padding:20px 5%;border-radius:10px;">
            <h1 style="margin-top:5px;">Regulation example</h1>
            <p>Exchange rate: 2</p>
            <small>For each page the worker chooses not to complete in week 2, the worker will have to do 2 pages in week 3</small>
            <p style="text-align:center;margin-bottom:0;margin-top:25px;">Set your prefered lower limit on tasks in week 2.</p>
            <div style="display:flex;justify-content:space-between;margin-top:20px;text-align:center;">
              <span>Week 2<br><strong>{{regchoice}}</strong> </span>
            </div>
            <p *ngIf="regchoice == null" style="width:96.5%;text-align:center;margin-left:3.5%;font-weight:300;font-size:0.8em;margin-bottom:0;">Click and drag on the line below</p>
            <input class="reverseSlider" [ngClass]="regchoice == null ? 'idle_slider' : ''" type="range" min="0" max="50" step="1" [(ngModel)]="regchoice" style="flex:1;width:96.5%;margin-left:3.5%;margin-top:20px;" (click)="choiceClick()" onclick="blur(this)">
            <p *ngIf="regchoice" style="text-align:center;font-weight:300;font-size:0.8em;">If you do not wish to restrict the choice of the worker, move the slider to the far right.</p>
            <div *ngIf="regchoice!=null" style="width:100%;text-align:center;">
              <h2 *ngIf="regchoice" style="color:green;">If the worker choose to complete less than {{ regchoice }} pages in week 2, then he/she will be forced to complete {{ regchoice }} pages in week 2 and {{ (50-regchoice)*2 }} pages in week 3.</h2>
              <h2 *ngIf="regchoice===0" style="color:green;">The worker will be allowed to make any choice that he/she wishes.</h2>
            </div>
          </div>
  

          <h2>
            Suggestions
          </h2>
          <p>
            In addition to choosing a minimum, the regulator will be allowed to suggest a minimum. When the worker makes his/her allocation choice, the suggestion is displayed on the screen as seen here:
          </p>
          <p style="width:100%;text-align:center;color:red;font-weight:bold;">The regulator suggests that you choose to do no less than X pages in week 2</p>
          <p>
            The suggested minimum does not affect the worker’s allocation directly.
          </p>

          <h1>Recap</h1>
          <ul>
            <li>You make five allocation choices, each for a different exchange rate.</li>
            <li>The exchange rate is the number of pages you will have to complete in week 3, for each page you choose not to complete in week 2.</li>
            <li>One of the five choices is randomly chosen to be the "choice that counts"</li>
            <li>You will complete 10 pages of "minimal work" on each day (week 1, week 2 and week 3)</li>
            <li>The regulator may set a minimum on the worker's allocation fo work to week 2.</li>
            <li>The regulator can also choose a "suggested minimum"</li>
          </ul>

          <button class="active-button" mat-raised-button (click)="nextTab()">Next</button>
        </div>
      </mat-tab>
      <mat-tab label="Timing">
        <div class="instructions-part">
          <h1>Timing</h1>
          <p>
            You will make allocation choices in both week 1 and week 2. The choices made in week 1 are called “Allocation task 1” and the choices made in week 2 are called “Allocation task 2”.
          </p>
          <table class="timing-table">
            <tr>
              <th>Week 1</th>
              <th>Week 2</th>
              <th>Week 3</th>
            </tr>
            <tr>
              <td>Allocation task 1</td>
              <td>Allocation task 2</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Work 1</td>
              <td>Work 2</td>
            </tr>
          </table>
          <p>
            The allocation choices in week 1 are thus made one week <span *ngIf="user && user.role=='worker'">and one day</span> before work 1 must be completed. The allocation choices in week 2 are made on the same day as work 1 must be completed. It is randomly determined whether the choice that counts is taken from "Allocation task 1" or "Allocation task 2"
          </p>
          <p>The regulator makes regulation choices in both week 1 and week 2. The regulation choices in week 1 are called "Regulation task 1" and the regulation choices in week 2 are called "Regulation task 2".</p>
          <table class="timing-table timing2">
            <tr>
              <th>Week 1</th>
              <th>Week 2</th>
            </tr>
            <tr>
              <td>Regulation task 1</td>
              <td>Regulation task 2</td>
            </tr>
            <tr>
              <td><mat-icon>arrow_downward</mat-icon></td>
              <td><mat-icon>arrow_downward</mat-icon></td>
            </tr>
            <tr>
              <td>Allocation task 1</td>
              <td>Allocation task 2</td>
            </tr>
          </table>
          <p>"Regulation task 1"-choices apply to the worker’s choices in “Allocation task 1” and “Regulation task 2”-choices apply to the worker’s choices in “Allocation task 2”. </p>

          <h1>Recap</h1>
          <ul>
            <li>Workers and regulators make allocation choices for themselves in week 1 and week 2.</li>
            <li>Regulators make regulation choices in week 1 and week 2.</li>
            <li>It is randomly determined whether week 1-choices or week 2-choices count.</li>
            <li>Regulation choices made in the same week as the allocation choice that counts are the ones that apply.</li>
          </ul>
          <button class="active-button" mat-raised-button (click)="nextTab()">Next</button>

        </div>
      </mat-tab>
      <mat-tab label="Payment">
        <div class="instructions-part">
          <h1>Payment</h1>
          <p>You will recieve {{experiment_pay}} for completing the entire experiment. This amount may increase or decrease depending on choices you make<span *ngIf="user && user.role=='worker'"> and choices made by another participant</span>. You will not receive payment unless you complete the entire experiment.
          </p>
          <button *ngIf="!control_completed || control_completed" class="active-button" mat-raised-button (click)="nextTab()">Next</button>
          </div>
      </mat-tab>
      <mat-tab *ngIf="!control_completed || control_completed" label="Control questions">
        <div class="instructions-part">
          <h1>Control questions</h1>
          <p>You must answer the following control questions correctly in order to complete the instructions</p>
          <div style="margin-top:50px;">
            <p>How many parts does this experiment have?</p>
            <mat-form-field appearance="outline" style="margin-left:5px;">
              <mat-label>Number of parts</mat-label>
              <mat-select [(ngModel)]="answers[0]" (selectionChange)="answers_check[0]=null;">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
              </mat-select>
              <small *ngIf="answers_check[0] == false" style="color:red;">This is not correct</small>
            </mat-form-field>
          </div>
          <div style="margin-top:20px;">
            <label id="label1">How long time do you have to finish each part of the experiment?</label>
            <mat-radio-group [(ngModel)]="answers[1]" (change)="answers_check[1]=null;" aria-labeledby="label1" class="radio-group" color="primary">
              <mat-radio-button class="radio-button" value="1 hour">1 hour</mat-radio-button>
              <mat-radio-button class="radio-button" value="1 day">1 day</mat-radio-button>
              <mat-radio-button class="radio-button" value="1 week">1 week</mat-radio-button>
              <small *ngIf="answers_check[1]==false" style="color:red;">This is not correct</small>
            </mat-radio-group>
          </div>

          <div style="margin-top:20px;">
            <label id="label2">When is the next time you are to sign in and complete tasks?</label>
            <mat-radio-group [(ngModel)]="answers[2]" (change)="answers_check[2]=null;" aria-labelledby="label2" class="radio-group" color="primary">
              <mat-radio-button class="radio-button" value="tomorrow">Tomorrow</mat-radio-button>
              <mat-radio-button class="radio-button" value="1 week">In one week</mat-radio-button>
              <mat-radio-button class="radio-button" value="1 week and 1 day">In one week and one day</mat-radio-button>
              <mat-radio-button class="radio-button" value="2 weeks">In two weeks</mat-radio-button>
              <small *ngIf="answers_check[2]==false" style="color:red;">This is not correct</small>
            </mat-radio-group>
          </div>

          <div style="margin-top:20px;">
            <label id="label3">Which of the following applies to regulators?</label>
            <mat-radio-group [(ngModel)]="answers[3]" (change)="answers_check[3]=null;" aria-labelledby="label3" class="radio-group" color="primary">
              <mat-radio-button class="radio-button" value="regoneother">They regulate one other participant</mat-radio-button>
              <mat-radio-button class="radio-button" value="regallothers">They regulate all other participants</mat-radio-button>
              <mat-radio-button class="radio-button" value="regbyallothers">Their choices are regulated by one other participant</mat-radio-button>
              <mat-radio-button class="radio-button" value="regbyoneother">Their choices are regulated by all other participants</mat-radio-button>
              <small *ngIf="answers_check[3]==false" style="color:red;">This is not correct</small>
            </mat-radio-group>
          </div>

          <div style="margin-top:20px;">
            <label id="label3">Which of the following applies to workers?</label>
            <mat-radio-group [(ngModel)]="answers[4]" (change)="answers_check[4]=null;" aria-labelledby="label3" class="radio-group" color="primary">
              <mat-radio-button class="radio-button" value="regoneother">They regulate one other participant</mat-radio-button>
              <mat-radio-button class="radio-button" value="regallothers">They regulate all other participants</mat-radio-button>
              <mat-radio-button class="radio-button" value="regbyoneother">Their choices are regulated by one other participant</mat-radio-button>
              <mat-radio-button class="radio-button" value="regbyallothers">Their choices are regulated by all other participants</mat-radio-button>
              <small *ngIf="answers_check[4]==false" style="color:red;">This is not correct</small>
            </mat-radio-group>
          </div>
          <div style="margin-top:20px;">
            <p>Which role have you been assigned?</p>
            <mat-form-field appearance="outline" style="margin-left:5px;">
              <mat-label>Your role</mat-label>
              <mat-select [(ngModel)]="answers[5]" (selectionChange)="answers_check[5]=null;">
                <mat-option value="worker">Worker</mat-option>
                <mat-option value="regulator">Regulator</mat-option>
              </mat-select>
              <small *ngIf="answers_check[5] == false" style="color:red;">This is not correct</small>
            </mat-form-field>
          </div>

          <div style="margin-top:20px;">
            <label id="label4">Allocation choices are made in...</label>
            <mat-radio-group [(ngModel)]="answers[6]" (change)="answers_check[6]=null;" aria-labelledby="label4" class="radio-group" color="primary">
              <mat-radio-button class="radio-button" value="week1">Week 1</mat-radio-button>
              <mat-radio-button class="radio-button" value="week2">Week 2</mat-radio-button>
              <mat-radio-button class="radio-button" value="week12">Week 1 and 2</mat-radio-button>
              <mat-radio-button class="radio-button" value="week123">Week 1, 2 and 3</mat-radio-button>
              <mat-radio-button class="radio-button" value="week23">Week 2 and 3</mat-radio-button>
              <small *ngIf="answers_check[6]==false" style="color:red;">This is not correct</small>
            </mat-radio-group>
          </div>

          <div style="margin-top:20px;">
            <label id="label5">Regulation choices made in week 2 affect...</label>
            <mat-radio-group [(ngModel)]="answers[7]" (change)="answers_check[7]=null;" aria-labelledby="label5" class="radio-group" color="primary">
              <mat-radio-button class="radio-button" value="random">Allocation choices made by the worker in a random week</mat-radio-button>
              <mat-radio-button class="radio-button" value="week1">Allocation choices made by the worker in week 1</mat-radio-button>
              <mat-radio-button class="radio-button" value="week2">Allocation choices made by the worker in week 2</mat-radio-button>
              <mat-radio-button class="radio-button" value="week12">Allocation choices made by the worker in week 1 and 2</mat-radio-button>
              <small *ngIf="answers_check[7]==false" style="color:red;">This is not correct</small>
            </mat-radio-group>
          </div>

          <div style="margin-top:40px;">
            <p>The last questions relate to the example below</p>
            <mat-card class="mat-elevation-z6" style="background:rgb(236, 236, 236);">
              <p><strong><em>Example: </em></strong>A worker has made the following choices:</p>
              <table class="example-table" style="margin:0 auto;">
                <tr>
                  <th>Choice #</th>
                  <th>Allocation task 1</th>
                  <th>Allocation task 2</th>
                  <th>Exchange rate</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Week 2: 30 pages</td>
                  <td>Week 2: 10 pages</td>
                  <td>{{exchange_rates[0]}}</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Week 2: 50 pages</td>
                  <td>Week 2: 40 pages</td>
                  <td>{{exchange_rates[1]}}</td>
                </tr>
                <tr>
                  <td>...</td>
                </tr>
              </table>
  
              <p>The regulator has set the following following minimums on work in week 2:</p>
              <table style="margin:0 auto;" class="example-table">
                <tr>
                  <th>Choice #</th>
                  <th>Regulation task 1</th>
                  <th>Regulation task 2</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>30</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>40</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>...</td>
                </tr>
              </table>
            </mat-card>
            <div style="margin-top:20px;">
              <p>How many pages will the worker have to do in week 2 and week 3 if <em>the choice that counts</em> is chosen to be choice 1 in 
              week 2 (Allocation task 2)?</p>
              <mat-form-field appearance="outline" style="margin:10px;">
                <mat-label>Week 2</mat-label>
                <input matInput [(ngModel)]="answers[8]" (change)="answers_check[8]=null;">
                <small *ngIf="answers_check[8] == false" style="color:red;">This is not correct</small>
              </mat-form-field>
              <mat-form-field appearance="outline" style="margin:10px;">
                <mat-label>Week 3</mat-label>
                <input matInput [(ngModel)]="answers[9]" (change)="answers_check[9]=null;">
                <small *ngIf="answers_check[9] == false" style="color:red;">This is not correct</small>
              </mat-form-field>
              <div>
                <small *ngIf="answers_check[11] == false" style="color:green;">Hint: How does the regulator's choice affect the allocation and what is the exchange rate?</small>                
              </div>
              <div><small>Remember that the number of pages in week 3 is given by (50 - pages in week 2) * Exchange rate</small></div>
            </div>
            <div style="margin-top:20px;">
              <p>How many pages will the worker have to do in week 2 and week 3 if <em>the choice that counts</em> is chosen to be choice 2 in week 1 (Allocation task 1)?</p>
              <mat-form-field appearance="outline" style="margin:10px;">
                <mat-label>Week 2</mat-label>
                <input matInput [(ngModel)]="answers[10]" (change)="answers_check[10]=null;">
                <small *ngIf="answers_check[10] == false" style="color:red;">This is not correct</small>
              </mat-form-field>
              <mat-form-field appearance="outline" style="margin:10px;">
                <mat-label>Week 3</mat-label>
                <input matInput [(ngModel)]="answers[11]" (change)="answers_check[11]=null;">
                <small *ngIf="answers_check[11] == false" style="color:red;">This is not correct</small>
              </mat-form-field>
            </div>
          </div>
          <button class="active-button-extra" mat-raised-button (click)="completeControl()">Submit</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>  

</div>
