
.container {
    text-align:center;
    margin-top:40px;
    padding-left:5%;
    padding-right:5%;
}
.main-heading {
    font-weight:lighter;
    font-size:2rem;
}
.instructions-part {
    text-align:left;
    margin-top:40px;
    margin-bottom:20px;
}

.idle_slider::-webkit-slider-thumb {
    visibility:hidden;
}
.idle_slider::-moz-range-thumb {
    visibility:hidden;
}
#input-container {
    margin-left:5%;
    margin-right:5%;
}
.reverseSlider {
    direction:rtl;
}

@media(min-width: 800px) and (max-width: 1200px) {
    #input-container {
        margin-left:15%;
        margin-right:15%;
    }
}

@media(min-width:1400px) {
    #input-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media(min-width: 1200px) {
    .container {
        padding-left:20%;
        padding-right:20%;
    }
    .main-heading {
        font-size:2.5rem;
    }
}
