<div class="container" style="height:100%;">
  <mat-card style="max-width:500px;display:block;margin-right:auto;margin-left:auto;top:10%;padding:4%;border-radius:10px;">
    <img mat-card-image src="https://designguide.ku.dk/download/co-branding/ku_logo_uk_h.png" alt="ku_logo">
    <!-- <mat-card-header style="justify-content:center">
      <mat-card-title style="font-size:2rem;font-weight:normal">Sign in</mat-card-title>
    </mat-card-header> -->
    <mat-card-content style="display:flex;flex-direction: column;">
      <!-- form -->
      <mat-form-field appearance="outline" style="flex:1;">
        <mat-label>New password</mat-label>
        <input [(ngModel)]="newpassword1" matInput type="password" (keyup.enter)="resetpassword()">
        <mat-icon matSuffix>lock_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" style="flex:1;">
        <mat-label>Repeat password</mat-label>
        <input [(ngModel)]="newpassword2" matInput type="password" (keyup.enter)="resetpassword()">
        <mat-icon matSuffix>lock_outline</mat-icon>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="resetpassword()" mat-raised-button style="width:100%;color:white;background:#901A1E;font-weight:normal;">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
