<div class="container">

  <!-- <mat-form-field>
    <h3>{{week}}</h3>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="picker_date" (dateChange)="setDate()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>     -->

  <h1 class="main-heading">Regulation choice</h1>
  <h2 *ngIf="week">Week {{week}}</h2>
  <div type="range" id="slider"></div>
  <p *ngIf="totally_completed">You have already completed this part of the experiment.</p>
  <p *ngIf="!week && !totally_completed">Please return on the correct date</p>
  <mat-horizontal-stepper [@.disabled]="true" color="accent" [linear]="true" #stepper>
    <mat-step editable="false" label="Step 1" completed="false">
      <div class="tab-content input-content">
        <mat-card style="background:rgb(0, 109, 64)">
          <h1 style="color:white;">Instructions for step 1</h1>
          <p style="color:white;line-height:1.5;">Here you may set a minimum on the amount of pages the worker can choose to complete in week 2. This is equivalent to setting a maximum on the amount of work 
          which the worker can choose to postpone. The exchange rates are the same as the ones, which applied to your own allocation choices. If you do not wish to set a minimum on week 2 tasks for the worker, 
          then please move the slider all the way to the right side. You may also set a suggestion. If you choose to set a suggestion, then the following message will be shown clearly on the screen 
          when the worker makes his/her allocation choice: "The regulator suggests that you choose to do no less than X pages in week 2", where X is your chosen suggestion. It is possible to set 
          both a minimum and a suggestion.</p>
        </mat-card>

        <div *ngFor="let choice of regulation_choices;let index = index">
          <h1 style="font-weight:normal;margin-top:80px;">{{choice.name}}</h1>
          <p>Exchange rate: {{ choice.exchange_rate }}</p>
          <small>For each page the worker chooses not to complete in week 2, the worker will have to do {{ choice.exchange_rate }} page<span *ngIf="choice.exchange_rate!=1">s</span> in week 3</small>
          <canvas style="margin-top:20px;" [id]="choice.chartId"></canvas>
          <p style="text-align:center;margin-bottom:0;margin-top:25px;">Set your prefered lower limit on tasks in week 2.</p>
          <div style="display:flex;justify-content:space-between;margin-top:20px;text-align:center;">
            <span>Week 2<br><strong>{{choice.choice}}</strong> </span>
          </div>
          <p *ngIf="choice.choice == null" style="width:96.5%;text-align:center;margin-left:3.5%;font-weight:300;font-size:0.8em;margin-bottom:0;">Click and drag on the line below</p>
          <input class="reverseSlider" [ngClass]="choice.choice == null ? 'idle_slider' : ''" type="range" min="0" max="50" step="1" [(ngModel)]="choice.choice" (input)="regulationChange(index)" style="flex:1;width:96.5%;margin-left:3.5%;margin-top:20px;" [id]="'regulation'+index" [name]="'regulation'+index" (click)="choiceClick(choice.choice, 'regulation', index)" onclick="blur(this)">
          <p *ngIf="choice.choice" style="text-align:center;font-weight:300;font-size:0.8em;">If you do not wish to restrict the choice of the worker, move the slider to the far right.</p>
          <p style="text-align:center;margin-top:50px;margin-bottom:0;">Set a suggested minimum if you wish</p>
          <div style="display:flex;justify-content:space-between;margin-top:20px;text-align:center;">
            <span>Week 2<br><strong>{{choice.suggestion_min}}</strong> </span>
          </div>
          <input type="range" min="0" max="50" class="reverseSlider" [ngClass]="choice.suggestion_min == null ? 'idle_slider' : ''" style="flex:1;width:96.5%;margin-left:3.5%;margin-top:20px;" [(ngModel)]="choice.suggestion_min" (input)="suggestionChange(index)" (click)="choiceClick(choice.suggestion_min, 'suggestion', index)" onclick="blur(this)">
          <p *ngIf="choice.suggestion_min" style="text-align:center;font-weight:300;font-size:0.8em;">Move the slider to the far right if you do not wish to suggest a minimum</p>
        </div>
        <div class="button-box">
          <button [disabled]="regulation_choices[0].choice == null || regulation_choices[1].choice == null || regulation_choices[2].choice == null || regulation_choices[3].choice == null || regulation_choices[4].choice == null" class="active-button" mat-raised-button (click)="submit(0)">Submit</button>
          <p *ngIf="regulation_choices[0].choice == null || regulation_choices[1].choice == null || regulation_choices[2].choice == null || regulation_choices[3].choice == null || regulation_choices[4].choice == null">Please make a regulation choice in all of the above</p>
        </div>

      </div>

    </mat-step>

    <mat-step editable="false" label="Step 2" completed="false">
      <div class="input-content tab-content">
        <mat-card style="background:rgb(0, 109, 64)">
          <h1 style="color:white;">Instructions for step 2</h1>
          <p style="color:white;line-height:1.5;">Each of the following cards illustrates a scenario where a worker has made a certain choice. For each scenario we would like 
          to know what you think would have been the best choice for the worker to make. The first 6 cards relate to choice 1, which has an exhange rate of {{optimal_choices[0].exchange_rate}} and the last 6 cards 
          relate to choice 2, which has an exchange rate of {{optimal_choices[1].exchange_rate}}. So in both cases moving pages from week 2 to week 3 increases the total amount of work.</p>
        </mat-card>

        <div *ngFor="let choice of optimal_choices; let index = index;">
          <div [class]="'choice-head'+index">
            <h1 style="font-weight:normal;">{{choice.name}}</h1>
            <p>Exchange rate: {{ choice.exchange_rate }}</p>
          </div>
          <div>
            <div style="width:100%;">
              <div style="position:relative;">
                <mat-card *ngFor="let optimal of sub_names; let opt_index = index;" style="margin-top:30px;" class="mat-elevation-z3">
                  <mat-card-header>
                    <mat-card-title>{{optimal}}</mat-card-title>
                    <mat-card-subtitle>{{choice.name}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content style="text-align:center;">
                    <mat-icon style="width:50%;text-align:center;font-size:100px;">face</mat-icon>
                    <div *ngIf="choice.choices.length>0" style="margin-top:20px;">
                      "I choose to do <strong>{{choice.choices[opt_index].worker_w2_choice}}</strong> pages in week 2 and <strong>{{choice.choices[opt_index].worker_w3_choice}}</strong> pages in week 3"
                    </div>
                    <canvas [id]="choice.chartId[opt_index]"></canvas>
                    <p style="margin-bottom:0;">Which choice do you think makes this person better off <em>in the long run</em>?</p>     
                    <div *ngIf="choice.choices.length>0">
                      <div style="display:flex;justify-content:space-between;margin-top:30px;text-align:center;">
                        <span>Week 2<br><strong>{{choice.choices[opt_index].input}}</strong></span>
                        <span>Week 3<br><strong>{{choice.w3_options[choice.choices[opt_index].input]}}</strong></span>
                      </div>
                      <p *ngIf="choice.choices[opt_index].input == null" style="width:96.5%;text-align:center;margin-left:3.5%;font-weight:300;font-size:0.8em;margin-bottom:0;">Click and drag on the line below</p>
                      <input class="reverseSlider" [ngClass]="choice.choices[opt_index].input == null ? 'idle_slider' : ''" type="range" min="0" max="50" step="1" [id]="'optimal'+index" [name]="'optimal'+index" style="width:95%;margin-left:5%;margin-top:20px;" [(ngModel)]="choice.choices[opt_index].input" (input)="optimalChange(index, opt_index)" (click)="choiceClick(choice.choices[opt_index].input, 'optimal', index, opt_index)" onclick="blur(this)">
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
        </div>
        </div>
        <div class="button-box" *ngIf="optimal_choices[0].choices.length > 0">
          <button class="active-button" mat-raised-button (click)="submit(1)" [disabled]="optimal_choices[0].choices[0].input == null || optimal_choices[0].choices[1].input == null || optimal_choices[0].choices[2].input == null || optimal_choices[0].choices[3].input == null || optimal_choices[0].choices[4].input == null || optimal_choices[0].choices[5].input == null || optimal_choices[1].choices[0].input == null || optimal_choices[1].choices[1].input == null || optimal_choices[1].choices[2].input == null || optimal_choices[1].choices[3].input == null || optimal_choices[1].choices[4].input == null || optimal_choices[1].choices[5].input == null">Submit</button>
        </div>
      </div>
    </mat-step>

    <mat-step editable="false" label="Step 3" completed="false">
      <div class="input-content tab-content">
        <mat-card style="background:rgb(0, 109, 64)">
          <h1 style="color:white;">Instructions for step 3</h1>
          <p style="color:white;line-height:1.5;">At the end of the experiment, we will randomly choose 100 participants. Please state what percentage of these you think will 
          have made a choice in each of the following ranges. One of your guesses will be randomly selected and 50 DKK minus the difference between your guess and the actual percentage
          (down to a minimum of 0) will be added to your total payment.<br><br>
          <strong>Example</strong>: Your guess regarding the range "0-30" for Choice 1 is randomly chosen. Here you guessed that 20% of the participants would choose in this range for Choice 1 in this week. The 
          actual number was 40%, so you get 30 DKK added to your final payment.<br><br>
          Notice as you go down the list, that the ranges include the previous range. You will therefore not be able to choose a smaller percentage than you did for the previous range. 
          This is due to the fact that if you believe that 10% will choose between 0 and 10, then you must also believe that <em>at least</em> 10% will choose between 0 and 20.
          </p>
        </mat-card>

        <div *ngFor="let choice of distribution_choices; let index = index" style="margin-top:40px;">
          <h1 style="font-weight:normal">{{choice.name}}</h1>
          <p>Exchange rate: {{ choice.exchange_rate }}</p>
          <div>
            <div style="width:100%;margin-top:70px;margin-bottom:30px;" *ngFor="let belief of beliefs; let i = index;">
              <div style="margin-bottom:50px;">
                <canvas [id]="choice.chartId[i]"></canvas>
              </div>
              <div *ngIf="choice.distribution_beliefs.length > 0">
                <label>What percentage do you think will choose to complete <strong>{{choice.distribution_beliefs[i].name}}</strong> pages in week 2?</label>
                <div [style.padding-left]="choice.distribution_beliefs[i].min+'%'">
                  <p *ngIf="choice.distribution_beliefs[i].input == null" style="width:96.5%;text-align:center;margin-left:3.5%;font-weight:300;font-size:0.8em;margin-bottom:0;">Click and drag on the line below</p>
                  <input class="dist_slider" [ngClass]="choice.distribution_beliefs[i].input == null ? 'idle_slider' : ''" [min]="choice.distribution_beliefs[i].min" max="100" style="width:100%;" type="range" [id]="'belief'+index+'_'+i" [(ngModel)]="choice.distribution_beliefs[i].input" (mouseup)="updateDistribution(index)" onclick="blur(this)">
                </div>
                <p>Your choice: <strong>{{choice.distribution_beliefs[i].input}}%</strong></p>
              </div>
            </div>
            <div style="width:100%;padding:20px;border:3px solid black;">
              <h3 *ngIf="!belief_done[index]" style="width:100%;text-align:center;">You have not completed all choices above</h3>
              <div *ngIf="belief_done[index]">
                <h3 *ngIf="belief_done[index]" >Your chosen distribution</h3>
                <div *ngIf="belief_done[index]" style="width:100%;height:150px;display:flex;margin-bottom:20px;">
                  <div *ngFor="let belief of choice.beliefs_calculated; let ind = index;" [style.flex]="belief.value" style="display:flex;height:100%;">
                    <div [style.background]="belief_colors[ind]" style="height:100%;flex:1;"></div>
                  </div>
                </div>
                <div style="width:100%;margin-bottom:20px;">
                  <div *ngFor="let belief of choice.beliefs_calculated; let j = index">
                    <mat-chip [style.background]="belief_colors[j]" style="width:61px;" [ngStyle]="{'color': j > 1 ? 'white' : 'black'}">
                      {{belief.name}}
                    </mat-chip>
                    <mat-icon *ngFor="let face of ' '.repeat(belief.value).split('')">accessibility</mat-icon>
                  </div>
                </div>
                <mat-chip-list>
                  <mat-chip style="width:180px;" *ngFor="let dist of choice.beliefs_calculated; let j = index" [style.background]="belief_colors[j]" [ngStyle]="{'color': j > 1 ? 'white' : 'black'}">
                    {{dist.name}} :<span *ngIf="j==0 || j==6">&nbsp; &nbsp; &nbsp; &nbsp;</span> <span *ngIf="j==1">&nbsp;</span> <span *ngIf="dist.value<10">&nbsp;</span>
                    <button mat-icon-button (click)="distrClick(index,j,-1)">-</button>
                    {{dist.value}}%
                    <button mat-icon-button (click)="distrClick(index,j,+1)">+</button>
                  </mat-chip>
                </mat-chip-list>
                <p>The choices you have made above correspond to the visualisation above. The bar at the top shows the percentages as the area of each color. The chart below with the 
                  <mat-icon>accessibility</mat-icon>-icons shows for each choice how many persons out of 100 you think will make that choice. If you wish, you can use the buttons above 
                  to adjust the distribution of choices.
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="button-box">
        <p *ngIf="!belief_done">Please complete all choices in order to move forward in the experiment.</p>
        <button [disabled]="!belief_done[0] || !belief_done[1]" class="active-button" mat-raised-button (click)="submit(2)">Submit</button>
      </div>
    </div>

    </mat-step>

    <mat-step editable="false" label="Step 3" completed="false">
      <div class="input-content">
        <p style="text-align: center;">How satisfied are you with the regulation you have set?</p>
        <div style="display:flex;width:50%;margin:0 auto;min-width:300px;">
          <mat-icon style="transform: scale(2);padding:20px;">sentiment_very_dissatisfied</mat-icon>
          <input [(ngModel)]="sentiment" class="dist_slider" [ngClass]="sentiment == null ? 'idle_slider' : ''" [min]="0" max="10" step="1" style="width:100%;" type="range" onclick="blur(this)">
          <mat-icon style="transform: scale(2);padding:20px;">sentiment_very_satisfied</mat-icon>
        </div>
      </div>
      <div class="input-container" style="text-align: left;">
        <p>Please explain why you made the regulation choices that you did</p>
        <textarea [(ngModel)]="free_text" style="width:100%;height:300px;padding:12px 20px; box-sizing:border-box;resize:none;border:2px solid #ccc;font-size:16px;font-family:'Roboto'" placeholder="Input answer here"></textarea>
      </div>
      <div class="input-container" style="text-align: left; margin-top:50px;">
        <p>Do you wish to add 50 DKK to the total earnings of another worker (not the one you have regulated)? Your choice will not affect your own payment.</p>
        <mat-radio-group color="warn" [(ngModel)]="help" aria-label="Do you wish to add 30 DKK to the total earnings of another worker (not the one you have regulated)?">
          <mat-radio-button style="margin-left:10px;" value="yes">Yes</mat-radio-button><br>
          <mat-radio-button value="no" style="margin-left:10px;margin-top:10px;">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="input-container" style="text-align: left; margin-top:50px;">
        <p>Do you wish to subtract 50 DKK from the total earnings of a third worker (not the one you have regulated and not the one you affect above)? Your choice will not 
          affect your own payment.
        </p>
        <mat-radio-group color="warn" [(ngModel)]="harm" aria-label="Do you wish to add 30 DKK to the total earnings of another worker (not the one you have regulated)?">
          <mat-radio-button style="margin-left:10px;" value="yes">Yes</mat-radio-button><br>
          <mat-radio-button value="no" style="margin-left:10px;margin-top:10px;">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="button-box" style="text-align:left;">
        <button [disabled]="sentiment==null || free_text == null || harm == null || help == null" class="active-button" mat-raised-button (click)="submit(3)">Submit</button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</div>