
.container {
    text-align:center;
    margin-top:40px;
}
.main-heading {
    font-weight:lighter;
    font-size:2rem;
}
.survey-part {
    text-align:left;
    padding-right:20%;
    margin-top:40px;
    margin-bottom:20px;
}
.survey-part p, .survey-part div {
    margin-top:25px;
}
button {
    margin-top: 30px;
}
.radio-group {
    display:flex;
    flex-direction: column;
    margin: 15px 0;
    margin-bottom:30px;
}
.radio-button {
    margin:5px;
    margin-left:10px;
}

@media(min-width: 600px) {
    .container {
        padding-left:20%;
        padding-right:20%;
    }
    .main-heading {
        font-size:4rem;
    }
}